/* importing fonts  from font.css*/

@import url(./fonts.css);

/* importing variables.css */
@import url(./partials/_variables.css);

/* importing global variables */

@import url(./partials/_global.css);



/* Navbar start */

.navbar-brand{
    padding: 0rem 2rem;
}

.header-space .navbar{
    padding: 1rem 10rem;
}

.header-space .navbar .nav-link{
    font:normal 500 13px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: #000;
}
#navbarNav .nav-link.active{
    color: red;
    /* background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text ; */
}
#navbarNav .nav-link:hover{
    color: red;
    /* background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text ; */
}


/* Navbar end */


/* main section start  */

#main{
    padding: 1rem 10rem;
    font-family: var(--roboto);
    
}
.banner-img img{
    height:250px;
    width: 250px;
}
.container .title h3{
    font-size: 2rem;
    padding-top: 25%;
    font-weight: 500;
}
.container .title h1{
    font-size: 3rem;
    color: red;
}
.container .title span{
    color: #000;    
}
.container .title h4{
    font-size: 1.2rem;
}
.container .banner-img{
    padding-top: 10%;
    padding-left: 100px;
}
.primary-button{
    margin-right: 30px;
}

/* main section end  */
